.tituloEsqueceuSenha {
    color: #41c4b2;
    font-weight: 500;
    font-size: 2rem;
}

.subtituloSenha {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

.emailLabel {
    color: #5f5959;
    font-weight: 500;
}

.bt-voltarLogin {
    font-weight: 500 !important;
    border-radius: 53px !important;
    opacity: 60% !important;
    margin: 10px;
}

.bt-loginSenha {
    background-color: #00bda3;
    color: #f3f3f3;
    font-size: 14px;
    padding: 8px 41px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.bt-loginSenha:hover {
    color: #028876;
}

.bkg-card {
    background-color: #f3f3f3 !important;
}

.borda-perso {
    border: 2px solid #b0b0b0 !important; 
    border-radius: 5px;
    padding: 4px 7px !important;
    margin: 10px 0; 
}

.container-padd {
    padding: 1.5rem 2rem !important;
    min-width: 500px;
}

