* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-azul-escuro: #002c41;
    --cor-verde-agua: #00bda3;
    --cor-texto-branco: #f3f3f3;
    --cor-texto-descricao: #738b99;
}

p {
    color:  var(--cor-texto-descricao);
}

/* Cor titulos */
.titulo-sessoes {
    color: var(--cor-azul-escuro);
}


/* Section Nav */
.bkg-nav {
    background-color: #f0fffc;
}

/* Logo responsividade */

/* Logo maior (padrão - telas grandes) */
.logo {
    content: url("/app/src/images/logo-start_lg.png");
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Logo menor (para telas menores que 576px - celulares ) */
@media (max-width: 576px) {
    .logo {
        content: url("/app/src/images/logo-start_sm_md.png");
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
}

.navbar-brand img {
    height: 30px; 
    object-fit: contain; 
    display: block; 
}

/* Garante alinhamento correto da logo */
.navbar-brand {
    display: flex;
    align-items: center; 
}

/* Ajuste para telas menores (Celular - <576px) */
@media (max-width: 576px) {
    .navbar-brand {
        justify-content: flex-start; 
        padding-left: 10px; 
    }
}


/* Estilização textos nav */ 
.navbar-nav .nav-link.active {
    color: var(--cor-azul-escuro) !important; 
    font-weight: 600; 
}

.nav-link {
    position: relative;
    color: var(--cor-azul-escuro);
    transition: all 0.3s ease-in-out;
    padding: 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #006e60;
    transform: scaleX(0); /* Começa invisível */
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1); /* Aparece ao passar o mouse */
}

@media (max-width: 768px) {
    .nav-link::after {
        display: none;
    }
}

/* Section Banner */

/* Estilos para o banner */
.container-banner {
    margin: 0;
    padding: 0;
    max-width: 100%; 
}

/* Botão banner */
.btn-banner {
    padding: 15px 30px;
    background-color: #00bda3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}


/* Section Serviços */
.bkg-servicos {
    background-color: #f8f9fa;
}


.separador-container {
        width: 40px;
        height: 3px; 
        background-color: var(--cor-azul-escuro); 
        margin: auto; 
}


.icone-circulo {
    width: 128px; 
    height: 115px;
    background-color: #dbeae6; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
}

/* card serviços */
.card {
    border: 1px solid #bfd6d2;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

/* texto */
.card-texto {
    background-color: #f8fdfc;
    border-top: 1px solid #f1f1f1;
}


/* Section Planos */
.bkg-planos {
    background-color: var(--cor-azul-escuro);
    -webkit-box-shadow: -1px 3px 35px -8px rgba(38,50,56,1);
    -moz-box-shadow: -1px 3px 35px -8px rgba(38,50,56,1);
    box-shadow: -1px 3px 35px -8px rgba(38,50,56,1);
    padding-bottom: 90px;
}

/* Estilizacao para card claro (padrao) */
.card-padrao {
    border: 1px solid #fcf8f8;
    border-radius: 9px;
    overflow: hidden;
}

.card-padrao:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 8px 22px -17px rgba(195,199,201,1);
    -moz-box-shadow: 0px 8px 22px -17px rgba(195,199,201,1);
    box-shadow: 0px 8px 22px -17px rgba(195,199,201,1);
    transition: 0.3s;
}

.separador-padrao {
    border-bottom: 1px solid #002c4180;
}

.texto-planos-padrao {
    color: var(--cor-azul-escuro);
}

/* Estilizacao para card escuro (basico/premium) */
.card-basico-premium {
    background-color: #1d556b ;
    border: none;
    border-radius: 7px;
}

.separador-basico-premium {
    border-bottom: 2px solid #dbf8f247;
}

.color-planos {
    color: var(--cor-azul-escuro);
}

/* Ajuste do valor (R$) */
.real {
    position: absolute;
    top: 28%;
    left: 30%;
}

.icon-check {
    color: var(--cor-verde-agua);
}

.icon-close {
    color: rgb(194, 36, 36);
}

@media (max-width: 768px) {
    .rs-escuro {
        top: 27%;
        left: 35%;
    }
}

@media (min-width: 768px) and (max-width: 1399px) {
    .rs-escuro {
        top: 27%;
        left: 28%;
    }
}

/* Botao planos */
.botao-planos { 
    border-radius: 25px;
    padding: 11px 50px 11px;
    background-color: var(--cor-verde-agua);
    border: none;
    font-size: 18px;
}

/* Destaque responsivo card principal */
@media (min-width: 768px) {
    .destaque {
        transform: scale(1.16); /* Aumenta o tamanho */
        z-index: 1; /* Mantém o card acima dos outros */
    }

    .destaque:hover {
        transform: scale(1.18); /* Dá um efeito maior no hover */
        transition: 0.3s;
    }
}

/* Section Entre em Contato */
.fale-conosco {
    background-image: url(../images/bkg-contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #064663;
    padding: 75px 20px;
}

.texto-contato {
    color: #304f55;
    font-size: 18px;
}

.btn-whatsapp {
    background-color: var(--cor-verde-agua);
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
    animation: pulse 1.5s infinite;
}

.btn-whatsapp:hover {
    background-color: #20aa93d0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Section Rodapé */
.bkg-rodape {
    background-color: #f4f5f4;
    margin: 0;
}

.rodape {
    
    color: #6d8088;
    font-size: 13px;
}

/* botao flutuante */ 
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 9999;
}