* {
    margin: 0;
    padding: 0;
}

/* Section Nav */

/* Section Banner */

/* Estilos para o banner */
.banner {
    width: 100%;
    height: 100vh; /* Altura total da viewport */
    background-color: #b96a6a; /* Imagem padrão para desktop (virará background-image*/
    background-size: cover; /* Cobrir toda a área */
    background-position: center; /* Centralizar a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.btn-banner {
    padding: 10px 20px;
    background-color: #00bda3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .banner {
        background-color: #b96a6a; /* Imagem padrão para desktop (virará background-image*/
        /* Imagem para mobile */
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .banner-content .btn {
        font-size: 1rem;
    }
}

/* Section Serviços */

/* Section Planos */



/* Section Rodapé */
.bkg-rodape {
    background-color: #fbfbfc;
}

.rodape {
    
    color: #6d8088;
    font-size: 12px;
}