* {
    padding: 0;
    margin: 0;
    font-family: 'Circular', sans-serif;
}

body {
    background-color: #F6F6F6;
    padding-top: 70px;
}

:root {
    --cor-azul-escuro: #002c41;
    --cor-verde-agua: #00bda3;
    --cor-texto-branco: #f3f3f3;
    --cor-texto-descricao: #738b99;
}

/* -------------- Inicio NAV -------------- */

/* Bkg nav */
.navbar.navbar-color {
    background-color: #F0FFFC !important;
}

/* SideBar */
@media (max-width: 991px) {
    .sidebar {
        background-color: rgb(240, 255, 252);
        backdrop-filter: blur(10px);
    }
}

/* cor fonte */
.text-color {
    color:#0C1E30;
}

/* cor bordabottom sidebar*/
.offcanvas-header {
    border-bottom: 1px solid #c5e9d8 !important; 
}

/* cor/borda botao nav */
.menu-contato {
    text-decoration: none;
    color: var(--cor-texto-branco);
    background-color: var(--cor-azul-escuro);  /* ou #27EDA8 */
    border-radius: 20px;
    padding: 9px 17px 9px;
    letter-spacing: 1px;
}

/* -------------- Fim NAV --------------*/



/* -------------- Inicio BANNER -------------- */



@media (min-width: 991px) {
    #banner {
        background-image: url(/app/src/images/banner4k.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 991px) {
    #banner {
        background-image: url(/app/src/images/banner-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}