/* comment */

body {
    font-family: 'Circular', sans-serif;
}

:root {
    --cor-principal: #002c41;
    --cor-secundaria: #00bda3;
    --cor-texto-claro: #ffffff;
    --cor-texto-dublado: #738b99;
    --cor-escuro: #00425e;
    --cor-escuro-claro: #6f8b9d;
    --cor-escuro-mais: #1d556b;
    --cor-light: #f7f7f7;
    --cor-dark: #f3f3f3;
    --cor-escuro-gray: #546a74;
    --cor-detalhe: #baccd9;
}

.separadores, 
.fonte-padrao, 
.titulo-clientes, 
.titulo-contato,
.titulo-banner, 
.titulo-servico, 
.titulo-planos {
    color: var(--cor-principal);
}

.fonte-padrao {
    font-size: 13px;
}

.texto-menu, 
.subtitulo-banner,  
.subtitulo-depoimentos,
.subtitulo-planos,
.texto-banner,
.texto-servico,
.texto {
    font-size: 16px;
    font-weight: 400;
}

.bkg-nav {
    background: #f0fffc;

    .navbar-nav {
    line-height: 0.5; 
    padding-bottom: 15px;
    } 
    
    .nav-link {
        line-height: 0.5; /* Ajuste conforme necessário */
        margin-top: -23px; 
    }   
}

.banner {
    background-image: url('../images/banner.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        position: absolute;
        top: 25%;
        right: 45%;
    }
}

.titulo-banner {
    font-size: 35px;
    font-weight: 500;
}

.subtitulo-banner {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.texto-banner {
    font-size: 20px;
    font-weight: 400;
}


a {
    text-decoration: none !important;
}


.botao-banner,
.botao-plano,
.botao-formulario {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    padding: 8px 30px;
    font-weight: 500;
}

.botao-banner {
    border: none !important;
    border-radius: 4px;
}

.botao-plano {
    border-radius: 20px;
    padding: 8px 65px;
}

.botao-plano:hover {
    background-color: #009b8c !important;
}

.borda-personalizada {
    border-image: linear-gradient(to top, #80e0d6, #009b8c) 1 !important;
    padding: 45px; 
    margin: 17px;    
}


.separador-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.separador {
    border-top: 2px solid #002c41;
    width: 50px;
    margin-top: 30px;
}

.titulo-servico {
    font-size: 35px;
    font-weight: 500;
}

.texto-servico {
    color: var(--cor-texto-dublado);
}

.planos {
    background-color: #fbfffe;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(218,232,229,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(218,232,229,1);
    box-shadow: 0px 0px 15px 3px rgba(218,232,229,1);
}

.planos-dark {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(35,108,137,0.5);
    -moz-box-shadow: 0px 0px 15px 1px rgba(35,108,137,0.5);
    box-shadow: 0px 0px 15px 1px rgba(35,108,137,0.5);
}

.separador-planos {
    border-bottom: 2px solid #dbf8f2;
}

.subtitulo-planos {
    color: var(--cor-texto-dublado);
}

.icon-planos {
    color: var(--cor-secundaria);
}

.nome-servico, 
.nome-plano {
    font-size: 28px;
    font-weight: 500;
    color: var(--cor-principal);
}

.rs-planos-light {
    position: absolute;
    top: 28%;
    left: 29%;
    color: var(--cor-escuro-mais);
}

.rs-planos-dark {
    position: absolute;
    top: 28%;
    left: 29%;
    color: var(--cor-dark);
}

.valor-plano-light {
    font-size: 48px;
    font-weight: 400;
    color: var(--cor-escuro-mais);
}

.valor-plano-dark {
    font-size: 48px;
    font-weight: 400;
    color: var(--cor-dark);
}

.plano-light {
    color: #6f8b9d;

    a {
        font-size: 20px;
    }
}

.plano-dark {
    background-color: #06425b;
    color: #cde0ec;

    a {
        font-size: 20px;
    }
}

.descricao-plano, 
.substitulo-informacoes {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-escuro-claro);
}

.clientes {
    display: flex;
    justify-content: center;
}

.titulo-depoimentos, 
.nome-depoimentos {
    font-size: 30px;
    font-weight: 400;
}

.texto-depoimentos {
    color: #516e7a;
    font-size: 18px;
    font-weight: 500;
}

.informacoes-contato .titulo-informacoes {
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: 400;
}

.label-informacao {
    color: var(--cor-detalhe);
    font-size: 10px;
}

.formulario-contato .label-formulario,
.formulario-contato .label-selecionado,
.formulario-contato .texto-selecionado {
    font-size: 16px;
}

.rodape {
    color: var(--cor-principal);
    font-size: 12px;
}


            