
body {
    font-family: 'Circular', sans-serif;
}

.bkg-container {
    background: linear-gradient(-48deg, rgba(207,246,237,1) 0%, rgba(133,200,191,1) 100%);
}

.logo-container {
    background-color: #e9f9f7 !important;
   
}

.card-header {
    border: none !important;
}

.card-login {
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.card-login-bg {
    border-radius: 0 0.25rem 0.25rem 0 !important;
    border: none !important;
}

.tituloLogin {
    color: #41c4b2;
    font-weight: 400;
    font-size: 3rem;
}

.esqueceuSenha {
    font-size: 13px;
    color: #7d9a96;
    text-decoration: none;
    margin-right: 20px;
}

.esqueceuSenha:hover {
    color: #00bda3;
}

.bt-login {
    background-color: #00bda3;
    color: #f3f3f3;
    font-size: 16px;
    padding: 10px 164px;
    font-weight: 500;
    border: none;
    border-radius: 53px;
    text-decoration: none;
}

.bt-login:hover {
    color: #028876;
}

.bt-bottom {
    padding-bottom: 65px;
}

.bkg-img {
    background-color: #2ddcc7e0 !important;
}

